<form class="form-inline ml-lg-2 order-first order-lg-last" role="search" method="get" action="{{ site.url }}/">
    <div class="input-group">
        <input class="form-control form-control-{{ size | default('md') }}" type="search" placeholder="Search" aria-label="Search">
        <button class="input-group-append btn btn-primary" type="submit">
            <span class="fad fa-search"></span>
        </button>
    </div>
</form>