{% extends 'layout/base.html.twig' %}

{% block content %}
    <main class="entry {{ post.class }}">

        {% include "partials/page-header.html.twig" %}

        {# Check if post is password protected #}
        {% if not function('post_password_required', post.ID) %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <article class="entry-content">
                            {{ post.content }}
                        </article>
                    </div>
                </div>
            </div>
        {% else %}
            {# Begin Password Protected Form #}
            <div class="password-form">

                {# Include the password form #}
                {% include 'partials/password-form.html.twig' %}

            </div>
            {# End Password Protected Form #}
        {% endif %}

    </main>
{% endblock %}